<%= form_for [:admin, @product] do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>Nombre:</label><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <label>Descripción:</label><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <label>Imágen:</label><br>
    <%= f.text_field :picture %>
  </div>
  <div class="field">
    <label>Precio:</label><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <label>Cantidad:</label><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit 'Guardar' %>
  </div>
<% end %>
